<header class="header" id="header">
  <nav class="nav container">
    <div class="logo-container">
      <a href="#" class="nav__logo">Fa Meng Chuen</a>
      <img src="./assets/img/Logo-letra-blanca.png" alt="" />
    </div>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link">Inicio</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">Nosotros</a>
        </li>
        <li class="nav__item">
          <a href="#servicios" class="nav__link">Servicios</a>
        </li>
        <li class="nav__item">
          <a href="#miembros" class="nav__link">Miembros</a>
        </li>
        <li class="nav__item">
          <a href="#programs" class="nav__link">Programas</a>
        </li>
      </ul>

      <div class="nav__dark">
        <!-- Theme change button -->
        <span class="change-theme-name">Dark mode</span>
        <i class="ri-moon-line change-theme" id="theme-button"></i>
      </div>

      <i class="ri-close-line nav__close" id="nav-close"></i>
    </div>

    <div class="nav__toggle" id="nav-toggle">
      <i class="ri-function-line"></i>
    </div>
  </nav>
</header>
