<section class="about section" id="about">
  <div class="about__container container grid">
    <div class="about__data">
      <h2 class="section__title about__title">
        ¿Quienes somos? <br />
        Acerca de Fa Meng Chuen
      </h2>
      <p class="about__description">
        La Asociación Fa Meng Chuen tiene como objetivos la práctica,
        orientación, fomento, difusión, capacitación, desarrollo deportivo
        competitivo, de todas las artes marciales chinas en sus diferentes
        modalidades de Wushu Moderno y Wushu Tradicional y/o Kung Fu (Tai Chi
        Chuan, Taolu, Sanda, Shuajiao, Chi Kung, etc) como deporte base para el
        desarrollo integral del ser humano.
      </p>
      <a href="#" class="button">Agenda una clase</a>
    </div>

    <div class="about__img">
      <div class="about__img-overlay">
        <img src="assets/img/about1.jpg" alt="" class="about__img-one" />
      </div>

      <div class="about__img-overlay">
        <img src="assets/img/about2.jpg" alt="" class="about__img-two" />
      </div>
    </div>
  </div>
</section>
