<section class="contact section" id="contact">
  <div class="contact__container container grid">
    <div class="contact__data">
      <h2 class="section__title">Contáctanos</h2>

      <p class="contact__description">
        Atrévete a aprender con nosotros. Contáctanos por
        <b>Whatsapp</b> 📱.
      </p>

      <a
        href="https://wa.link/a3ejgf"
        target="_blank"
        class="button contact__button"
      >
        Click Aquí <i class="ri-arrow-right-line"></i>
      </a>
    </div>

    <img
      src="assets/img/PORTADA-FMC.jpg"
      alt="contact image"
      class="contact__img"
    />
  </div>
</section>
