<section class="members" id="members">
  <h2 class="section__title">Miembros de la asociación</h2>

  <div class="members container grid">
    <div class="members__wrapper">
      <i id="left" class="ri-arrow-left-s-line"></i>
      <ul class="members__carousel">
        <li class="card">
          <div class="img">
            <img
              src="assets/img/miembro1.jpg"
              alt="img"
              draggable="false"
            />
          </div>
          <h2>Blanche Pearson</h2>
          <span>Sales Manager</span>
        </li>
        <li class="card">
          <div class="img">
            <img
              src="assets/img/miembro1.jpg"
              alt="img"
              draggable="false"
            />
          </div>
          <h2>1 Brauers</h2>
          <span>Web Developer</span>
        </li>
        <li class="card">
          <div class="img">
            <img
              src="assets/img/miembro1.jpg"
              alt="img"
              draggable="false"
            />
          </div>
          <h2>2 French</h2>
          <span>Online Teacher</span>
        </li>
        <li class="card">
          <div class="img">
            <img
              src="assets/img/miembro1.jpg"
              alt="img"
              draggable="false"
            />
          </div>
          <h2>3 Khosravi</h2>
          <span>Freelancer</span>
        </li>
        <li class="card">
          <div class="img">
            <img
              src="assets/img/miembro1.jpg"
              alt="img"
              draggable="false"
            />
          </div>
          <h2>4 Zasiadko</h2>
          <span>Bank Manager</span>
        </li>
        <li class="card">
          <div class="img">
            <img
              src="assets/img/miembro1.jpg"
              alt="img"
              draggable="false"
            />
          </div>
          <h2>5 Horton</h2>
          <span>App Designer</span>
        </li>
      </ul>
      <i id="right" class="ri-arrow-right-s-line"></i>
    </div>
  </div>
</section>
