<section class="discover section" id="servicios">
  <h2 class="section__title">
    Descubre lo <br />
    que ofrecemos
  </h2>

  <div class="card__container container">
    <article class="card__article">
      <img src="assets/img/service1.jpg" alt="image" class="card__img" />

      <div class="card__data">
        <span class="card__description">SERVICIO</span>
        <h2 class="card__title">Defensa personal</h2>
        <a href="#" class="card__button"
          >Técnicas efectivas para protección personal y seguridad</a
        >
      </div>
    </article>

    <article class="card__article">
      <img src="assets/img/service2.jpg" alt="image" class="card__img" />

      <div class="card__data">
        <span class="card__description">SERVICIO</span>
        <h2 class="card__title">Sanda</h2>
        <a href="#" class="card__button"
          >Combate dinámico que fusiona golpes y técnicas de lucha</a
        >
      </div>
    </article>

    <article class="card__article">
      <img src="assets/img/service5.JPG" alt="image" class="card__img" />

      <div class="card__data">
        <span class="card__description">SERVICIO</span>
        <h2 class="card__title">Taolu</h2>
        <a href="#" class="card__button"
          >Elegantes secuencias de movimientos en artes marciales chinas</a
        >
      </div>
    </article>

    <article class="card__article">
      <img src="assets/img/service4.PNG" alt="image" class="card__img" />

      <div class="card__data">
        <span class="card__description">SERVICIO</span>
        <h2 class="card__title">Taichi</h2>
        <a href="#" class="card__button"
          >Arte marcial fluida para equilibrio y bienestar</a
        >
      </div>
    </article>
  </div>
</section>
